.todo-list-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem 1rem;
    border-radius: 3rem;
    transition: all 1s;
    animation: list-animatoin 1s;

}

.notodo{
    margin: 2rem 0;
}
.notodo h1{
    color: #fff;
    background-color: rgb(15, 4, 4);
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
}


.list-todo{
    width: 100%;
    list-style: none;
    font-size: 2rem;
    color: #fff;
    background-color: rgb(15, 4, 4);
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 0;
    padding: 1rem 1rem;
    border-radius: 3rem;
    text-transform: capitalize;
    animation: list-animatoin 1s infinite;

}
@keyframes list-animation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 5;
    }
    100%{
        opacity: 10;
    }
}

